<div class="keyvisual">
	<%= image_tag '/assets/keyvisual.png', :alt => 'メインビジュアル', class:'keyvisual-image' %>
	<%= image_tag '/assets/title.png', :alt => 'HOUSEHOLD ACCOUNT BOOK', class:'keyvisual-title' %>
	<div class="search">
		<%= form_with method: "get", local: true do |f| %>
		<div class="search-body">
			<div class="search-item">
				<%= f.number_field :year, class:'search-text' %>
				<%= f.label :year, '年', class:'search-label' %>
			</div>
			<div class="search-item is-search-month">
	 			<%= f.number_field :month, class:'search-text' %>
				<%= f.label :month, '月', class:'search-label' %>
			</div>
			<div class="search-submit">
				<%= f.submit '検索', class:'search-button' %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<div class="container">
	<%= link_to new_book_path, class:"button is-button-add" do %>
	  <span>新規作成</span>
	<% end %>
		<table class="table">
			<tr>
				<th class="table-head">年月</th>
				<th class="table-head">金額</th>
				<th class="table-head">詳細</th>
			</tr>
			<% sum = 0 %>
			<% inSum = 0 %>
			<% outSum = 0 %>
			<% @books.each do |book| %>
			<tr>
				<td class="table-content">
					<span class="table-category"><%= book.category %></span>
					<span class="table-sm"><%= book.year %>年<%= book.month %>月</span>
				</td>
				<td class="table-content is-text-right">
					<% if book.inout == 1 %>+<% else %>-<% end %> <%= book.amount %>万円</td>
				<td class="table-content table-button">
						<%= link_to book_path(book), 'aria-label' => '詳細', class:"icon is-detail" do %>
						<% end %>
						<%= link_to book_path(book), 'aria-label' => '削除', method: "delete",data:{confirm:'本当に削除しますか？'}, class:"icon is-delete" do %>
						<% end %>
				</td>
			</tr>
			<% if book.inout == 1 %>
				<% sum += book.amount %>
					<% inSum += book.amount %>
			<% else %>
				<% sum -= book.amount %>
				<% outSum += book.amount %>
			<% end %>
			<% end %>
			<tr>
				<td class="table-head">合計</td>
				<td class="is-text-right"><%= sum %>万円</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>